<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        DOTA Fantasy Stats
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li ng-if="false" class="active"><a ng-href="#">Home</a></li>
        <li ng-if="false"><a ng-href="#/">Fantasy</a></li>
      </ul>
      
    </div>
  </div>
</nav>
