<div class="container">

  <div>
    <acme-navbar creationDate="main.creationDate" />
  </div>
  <div class="alert alert-info pull-right" role="alert" ng-show="ft.showUpdated">Last Updated {{ft.lastUpdated}}&nbsp;<button type="button" class="close" ng-click="ft.showUpdated=false" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
  <div class="alert alert-warning pull-left" role="alert" ng-show="ft.showUpdated">Update 8/10: Only display remaining teams.&nbsp;<button type="button" class="close" ng-click="ft.showUpdated=false" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>#</th>
        <th style="cursor: pointer" ng-click="ft.order(0)">Name</th>
        <th style="cursor: pointer" ng-click="ft.order(1)">Team</th>
        <th>Role</th>
        <th style="cursor: pointer" ng-click="ft.order(2)">Kill</th>
        <th style="cursor: pointer" ng-click="ft.order(3)">Death</th>
        <th style="cursor: pointer" ng-click="ft.order(4)">CS</th>
        <th style="cursor: pointer" ng-click="ft.order(5)">GPM</th>
        <th style="cursor: pointer" ng-click="ft.order(6)">Fight%</th>
        <th style="cursor: pointer" ng-click="ft.order(7)">Runes</th>
        <th style="cursor: pointer" ng-click="ft.order(8)">FB</th>
        <th style="cursor: pointer" ng-click="ft.order(9)">Wards</th>
        <th style="cursor: pointer" ng-click="ft.order(10)">Towers</th>
        <th style="cursor: pointer" ng-click="ft.order(11)">Total</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="player in ft.players | filter:{active:true} | orderBy:ft.predicate:ft.reverse" ng-show="player.active">
        <td>{{$index+1}}</td>
        <td>{{player.name}}</td>
        <td>{{player.team_name}}</td>
        <td><span class="label label-default" ng-show="player.fantasy_role==1">C</span><span class="label label-info" ng-show="player.fantasy_role==2">S</span></td>
        <td>{{player.stats.fantasy.kills | number:2}}</td>
        <td>{{player.stats.fantasy.deaths | number:2}}</td>
        <td>{{player.stats.fantasy.last_hits | number:2}}</td>
        <td>{{player.stats.fantasy.gpm | number:2}}</td>
        <td>{{player.stats.fantasy.team_fight | number:2}}</td>
        <td>{{player.stats.fantasy.runes | number:2}}</td>
        <td>{{player.stats.fantasy.first_blood | number:2}}</td>
        <td>{{player.stats.fantasy.wards | number:2}}</td>
        <td>{{player.stats.fantasy.towers | number:2}}</td>
        <td>{{player.stats.fantasy.total | number:2}}</td>
      </tr>
    </tbody>
    
  </table>

</div>